<%- include("./includes/header.ejs") -%>
<!-- Begin Page Content -->
<!-- 404 Error Text -->
<div
  class="
    text-center
    d-flex
    align-items-center
    justify-content-center
    flex-column
    h-75
  "
>
  <div class="error mx-auto" id="error-404" data-text="404">404</div>
  <p class="lead text-gray-800 mb-5">صفحه ی مورد نظر یافت نشد</p>
  <p class="text-gray-500 mb-0 light">
    به نظر می رسد شما یک نقص در ماتریس پیدا کرده اید ...
  </p>
  <a href="http://localhost:3000/adminpanel">&larr; بازگشت به صفحه ی اصلی</a>
</div>
<!-- /.container-fluid -->
<%- include("./includes/footer.ejs") -%>
